
*{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family:arial;
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 25%;
        display: inline-block;
        box-shadow: 2px 2px 20px rgb(60, 60, 61);
        border-radius: 5px; 
        margin: 3%;
        border-color:burlywood;
      
       }
   #cardinternal{
        width: 25%;
        display: inline-block;
        box-shadow: 2px 2px 20px rgb(60, 60, 61);
        border-radius: 5px; 
        margin: 3%;
        border-color:burlywood;
      
       }
   
   .image img{
     width:100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
   
    
    }
   
   .title{
     color:#005995;
     text-align: center;
     padding: 10px;
     background-color:#e6dbc9;
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     background-color:#e6dbc9;
     color:rgb(60, 60, 61);
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid salmon;
     border-radius: 5px;
     padding:10px;
   
   }
   button:hover{
     background-color:lightseagreen;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   body {
       background-color:#009688 ;
   }