h1{
    text-align:center;
    color:black;
}
p{
  font-size: 18px;
}
.left{
  text-align:left;
}
.right{
  text-align:right;
  display:inline;
  
}
.des{
    text-align: left;
    padding-left: 350px;
    margin-left:5%;
    margin-right:5%;
    padding-top:10px;
    background-color: antiquewhite;
}
body{
  background-color:#26466D;
}


 
