.greetings{
    padding-top: 20px;
    padding-bottom:10px;
    padding-left: 130px;
    font-family: sofia;
    color: #ffe4c4;
    }
    .address{
        padding-top:20px;
        padding-bottom:200px;
        padding-left:400px;
        padding-right:30px;
        border:10px;
    }
    .from{
     padding-left: 0px;
    }
    
    .thin-black-border {
        margin:auto;
        margin-top:50px;
        background-image:url("../images/Floral-ppt1.jpg");
        background-size: 700px 450px;
        background-repeat: no-repeat;
        border-color:black;
        border-width:3px;
        border-style: solid;
        width: 700px;
        height: 450px;
       
     }
     #thumbnail{
        box-shadow: 0 35px 40px rgba(0,0,0,0.19), 0 15px 11px rgba(0,0,0,0.23);
      }
