
.from{
 padding-top: 10px;
 padding-bottom:10px;
 padding-left: 10px;
 font-family: sofia;
 }
 .stamp-box{
    border-style:solid;
    border-color:black;
    border-width:2px;
    width:70px;
    height:80px;
    padding-right:10px;
    margin-left:650px;

 }
.address{
     padding-top:20px;
     padding-bottom:200px;
     padding-left:400px;
     padding-right:30px;
     border:10px;
     border-color: black;
 }
 .thin-black-border {
    background-image:url("../images/paper-backgrounds.jpg");
    background-size: 800px 500px;
    background-repeat: no-repeat;
    border-color:black;
    border-width:5px;
    border-style: solid;
    width: 800px;
    height: 500px;
 }
